<%= rcumber_flashes %>

	


<script type="text/javascript">
var myTabs = new YAHOO.widget.TabView("demo");
</script> 


<div id="demo" class="yui-navset">
    <ul class="yui-nav">
        <li class="<%= 'selected' %>">
					<a href="#tab1"><em>Cucumber Test</em></a>
				</li>
				<% unless @rcumber.last_results.nil? %>
        <li>
					<a href="#tab2"><em>Cucumber Test Results</em></a>
				</li>
				<% end %>
    </ul>         
   
    <div class="yui-content">
    
      <div><p>

          <h1><%= image_tag('rcumber.gif') %> <%= @rcumber.name %></h1>
					<% form_for @rcumber, :url => view_rcumber_path(@rcumber.uid) do |f| %>
					<%= submit_tag 'Pickle It!' %>
					<%= link_to 'Cancel this edit', view_rcumber_path(@rcumber.uid) %>
					<br/>
					<br/>
						<%= f.text_area :raw_content, :class => 'rcumber_raw_text' %>
						<br/>
						<br/>
							<%= submit_tag 'Pickle It!' %>
							<%= link_to 'Cancel this edit', view_rcumber_path(@rcumber.uid) %>
							<% if params[:demos] == "true" %>
								<input type="hidden" name="demos" value="true">
							<% end %>
					<% end %>


			</p></div>
			<% unless @rcumber.last_results.nil? %>
		  <div class="cucumber_results"><p>
				<%= render :partial => 'rcumbers/actions' %>
        <pre><%= @rcumber.last_results_with_textmate_links.to_s %></pre>
			<% end %>
			</p></div>

		</div><!-- yui-content -->
		
</div>
