
<script type="text/javascript">
var myTabs = new YAHOO.widget.TabView("demo");
</script> 

<!-- <div id="nav_list">
  leftside nav items here
</div>
	 -->
<div id="demo" class="yui-navset">
    <ul class="yui-nav">
        <li class="<%= 'selected' unless params[:selected_tab] %>">
					<a href="#tab1"><em>
						<%= image_tag('rcumber.gif', :border => '0', :width => 16, :height => 16) %>
            Cucumber Test 	
					</em></a>
				</li>
				<% unless @rcumber.last_results.nil? %>
        <li class="<%= 'selected' if params[:selected_tab] == 'run' %>">
          <a href="#tab2">
            
            <em><%= image_tag('rcumber.gif', :border => '0', :width => 16, :height => 16) %>
  					Cucumber Test Results <span id="state" class="<%= @rcumber.state.to_s %>"><%= @rcumber.state.to_s %></span>
						</em></a>
				</li>
				<% end %>
    </ul>         
   
    <div class="yui-content">
    
      <div><p>
				<%= render :partial => 'rcumbers/actions' %>
        <h3><%= @rcumber.name %></h3>
        <hr/>
				<pre><%= @rcumber.raw_content.to_s %></pre>
			</p></div>

			<% unless @rcumber.last_results.nil? %>
		  <div class="cucumber_results"><p>
				<%= render :partial => 'rcumbers/actions' %>
        <h3><%= @rcumber.name %></h3>
				<hr/>
        <pre><%= @rcumber.last_results_with_textmate_links.to_s %></pre>
				</p></div>
			<% end %>

		</div><!-- yui-content -->
		
</div>
